body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/012/740/529/non_2x/old-white-pine-wood-plank-wall-texture-panoramic-background-photo.jpg');
    color: #24070b;
    text-align: center;
}

header{
    background-color: rgb(200, 200, 200);
    text-align: center;
    padding: 9px;